#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid;
    padding: 10px;
    float: none;
    text-align: left;
}

body
{
    background: lightblue;
}

#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}

